*
{
	margin:0;
	padding:0;
}
body
{
	height:100%;
	width:100%;
	background-image:url("img/bg.jpg");
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
}
#wrapper
{
	position:relative;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
}
#info
{
	height:50px;
	width:100%;
}
#lifes
{
	float:left;
}
.life
{
	background-repeat:no-repeat;
	width:38px;
	height:36px;
	float:left;
	-webkit-transition: all 1s ease-out 0.5s;
    -moz-transition: all 1s ease-out 0.5s;
    -o-transition: all 1s ease-out 0.5s;
	transition: all 1s ease-out 0.5s;
}
.full
{
	background-image:url("img/life_f.png");
}
.empty
{
	background-position:3px;
	background-image:url("img/life.png");
}
#score
{
	color:white;
	font-size:25px;
	float:right;
}
#pole
{
	border: 4px double white; 
    background-image:url("img/white04.png");
    padding: 0px;
}
#game_proc
{
	width:100%;
	height:53px;
	padding-top:10px;
}
#reset
{
	-webkit-transition: all 0.5s ease-out 0.5s;
    -moz-transition: all 0.5s ease-out 0.5s;
    -o-transition: all 0.5s ease-out 0.5s;
	transition: all 0.5s ease-out 0.5s;
	-moz-transform: rotate(0deg); /* Р”Р»СЏ Firefox */
    -ms-transform: rotate(0deg); /* Р”Р»СЏ IE */
    -webkit-transform: rotate(0deg); /* Р”Р»СЏ Safari, Chrome, iOS */
    -o-transform: rotate(0deg); /* Р”Р»СЏ Opera */
    transform: rotate(0deg);
	float:left;
	width:45px;
	height:53px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/reset.png");
	background-repeat:no-repeat;
}
#reset:hover, #reset:focus
{
	-moz-transform: rotate(180deg); /* Р”Р»СЏ Firefox */
    -ms-transform: rotate(180deg); /* Р”Р»СЏ IE */
    -webkit-transform: rotate(180deg); /* Р”Р»СЏ Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Р”Р»СЏ Opera */
    transform: rotate(180deg);
}
#reset:hover, #reset:focus
{
	-moz-transform: rotate(180deg); /* Р”Р»СЏ Firefox */
    -ms-transform: rotate(180deg); /* Р”Р»СЏ IE */
    -webkit-transform: rotate(180deg); /* Р”Р»СЏ Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Р”Р»СЏ Opera */
    transform: rotate(180deg);
}
#play
{
	display:none;
	float:right;
	width:45px;
	height:53px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/play.png");
	background-repeat:no-repeat;
}
#pause
{
	
	float:right;
	width:45px;
	height:53px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/pause.png");
	background-repeat:no-repeat;
}
#up
{
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:43px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/up.png");
	background-repeat:no-repeat;
}
#side
{
	position:absolute;
	display:block;
	height:40px;
	left:50%;
	margin-top:0;
	margin-bottom:0;
	margin-left:-62.5px;
	margin-right:auto;
}
#side>div
{
	float:left;
}
#left
{
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
	width:40px;
	height:45px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/left.png");
	background-repeat:no-repeat;
}
#middle
{	
	margin-top:4px;
	margin-left:auto;
	width:45px;
	height:45px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/middle.png");
	background-repeat:no-repeat;
}
#right
{	
	margin-top:0px;
	margin-left:auto;
	width:40px;
	height:45px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/right.png");
	background-repeat:no-repeat;
}
#down
{
	margin-top:52px;
	margin-left:auto;
	margin-right:auto;
	width:50px;
	height:43px;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	background-image:url("img/down.png");
	background-repeat:no-repeat;
}
